# Dependencies
node_modules/
.pnp
.pnp.js

# Production & Build outputs
dist/
dist-ssr/
build/
out/

# Environment and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.pem
*.key
*.pkcs12
*.pfx
*.p12
id_rsa
id_ecdsa
id_ed25519

# Logs & Diagnostics
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Coverage directory used by testing tools
coverage/

# OS and Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp

.vercel
